body {
	width: 100%;
	height: 100%;
}
@media (min-width: 992px) {
  .start-start  {
    margin-top: -100px;
  }
}
.header {
	display: block;
	width: 100%;
	background-image: url("../img/header.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 961px;
	color: white;
	font-family: 'Open Sans';
	font-weight: regular;
	font-size: 13px;
	line-height: 24px;
}	
.header h1 {
	font-family: 'Open Sans';
	font-weight: 300;
	font-size:60px;
}
.header_text {
	padding-top:322px;
}
.header_logo_text {
	display: inline-block;
	font-family: Merriweather;
	font-size: 21px;
	padding-left: 10px;
	vertical-align: middle;
}
.header_logo_img {
	display: inline-block;
	vertical-align: middle;
}
.header_logo {
	padding-top: 55px;
}
.header_iPhone {
	display: block;
	padding-top: 164px;
	z-index:999;
	text-align: right;
}
.start_cap {
	height: 88px;
}
.start_cap_2 {
	height: 178px;
}
.start, .grid {
	margin-bottom: 50px;
}
.start h1 {
	font-family: 'Open Sans';
	font-weight: Light;
	font-size: 35px;
	line-height: 35px;
	margin-bottom: 35px;
	color: black;
}
.start_left, .start_right {
	font-family: 'Open Sans';
	font-weight: Regular;
	font-size: 14px;
	line-height: 24px;
	color: #959595;
}
.start p{
	margin-bottom: 35px;
}

.grid_center {
	display: block;
	max-width: 1230px;
	margin: 0 auto;
}
.grid .item {
	display: block;
	position: relative;
	height: 280px;
	color: white;
	padding: 45px 40px 50px 40px!important;
	overflow: hidden;
}
.grid_head {
	margin-top: 0;
	margin-bottom: 30px;
	min-width: 330px;
	font-family: 'Open Sans';
	font-weight: light;
	font-size: 30px;
}
.grid_text {
	height: 90px;
	margin-bottom: 10px;
	overflow: hidden;
	font-family: 'Open Sans';
	font-weight: regular;
	font-size: 13px;
	line-height: 24px;
}
.grid_more {
	display: block;
	position: relative;
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: white;
}
.grid_more:after {
	content: "\f178";
	font-family: FontAwesome;
	display: inline-block;
	vertical-align: middle;
	padding-left: 15px;
	transition: 500ms;
}
.grid_more:hover {
	text-decoration: none;
	color: white;
}
.grid_more:hover:after {
	transform: translateX(10px);
}
.design {
	background-color: #f5989d;
}
.built {
 	background-color: #615f7d;
}
.our {
	background-image: url("../img/OUR.jpg");
	background-size: cover;
}
.Sign_up {
	background-image: url("../img/Sign_up.jpg");
	background-size: cover;
}
.pictures {
	background-color: #82ca9c;
}
.how_to {
	background-color: #bd8cbf;
}
.start_somth {
	background-image: url("../img/start.jpg");
	background-size: cover;
}
.heart {
	float: right;
	transition: 500ms;
}
.heart:hover {
	float: right;
	cursor: pointer;
	transform: scale(1.5);
}
.details {
	font-family: 'Open Sans';
	font-weight: Regular;
	font-size: 14px;
	line-height: 24px;
	color: #959595;
}
.details h2 {
	font-family: 'Open Sans';
	font-weight: Bold;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 25px;
	color: black;
}
.details h1 {
	color: black;
	margin-bottom: 50px;
	font-size: 35px;
}
.more_power {
	display: block;
	margin-top: 160px;
	height: 875px;
	background: url("../img/power.jpg") no-repeat center;
	background-size: cover;
	color: white;
	overflow: hidden;
}
.more_power h1 {
	display: block;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 60px;
	margin-bottom: 40px;
	max-width: 510px;
}
.more_power-text {
	max-width: 450px;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}
.more_power-options {
	display: block;
	position: relative;
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 14px;
	margin-top: 30px;
	color: white;
}
.more_power-options:after {
	content: "\f178";
	font-family: FontAwesome;
	display: inline-block;
	vertical-align: middle;
	padding-left: 15px;
	transition: 500ms;
}
.more_power-options:hover {
	text-decoration: none;
	color: white;
}
.more_power-options:hover:after {
	transform: translateX(10px);
}
.more_power-cup {
	height: 210px;
}
.more_power-cup2 {
	height: 210px;
}
.reasons {
	display: block;
	background-color: #82ca9c; 
	height: 535px;
}
.reasons h1 {
	margin-top: 100px;
	margin-bottom: 55px;
	font-family: 'Open Sans';
	font-weight: Regular;
	font-size: 35px;
	line-height: 24px;
	color: white;
}
.reasons h2 {
	font-family: 'Open Sans';
	font-weight: Bold;
	font-size: 13px;
	line-height: 24px;
	color: white;
}
.reasons p {
	font-family: 'Open Sans';
	font-weight: Regular;
	font-size: 14px;
	line-height: 24px;
	color: white;
	margin-top: 10px;
}